#navbar {
    height: 180px;
}

#navbar-container {
    flex-direction: column;
    padding: 20px 0;
}

#navbar-items {
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#navbar-items li:nth-child(2) {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

/* Showcase */
#showcase-container {
    padding: 40px;
}

#showcase{

    background: url(../img/logumb.jpg);
    background-position: -110px;
    background-size: cover;
    left: 100vh;
    width: 80vh;
    height: 100vh;
    
}

/* Clients */
#clients-container {
    grid-template-columns: repeat(2, 1fr);
}

.client {
    width: 130%;
    margin: 10px 5px 10px 6px;
    
}

#imgg1{

    
    margin-right: 70px;
    border: 2px solid;
    box-shadow: 1px 1px 10px black;
    border-radius: 20PX;
    

}

#imgg2{
        
    margin-left: 70px;
    border: 2px solid;
    box-shadow: 1px 1px 10px black;
    border-radius: 20PX;

}

#imgg3{

    
    margin-right: 70px;
    height: 50vw;
    border: 2px solid;
    box-shadow: 1px 1px 10px black;
    border-radius: 20PX;

}

#imgg4{

    margin-left: 70px;
    height: 50vw;
    border: 2px solid;
    box-shadow: 1px 1px 10px black;
    border-radius: 20PX;



}

/* Features */
#features-container {
    grid-template-columns: 1fr;
}

#features-container .feature:nth-child(2) {
    margin: 15px 0;
}

/* Product */
#product-container {
    flex-direction: column;
}

#items {
    width: 90%;
}

.item {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Testimonials */
.testimonial {
    flex-direction: column;
    text-align: center;
}

/* Gallery */

#gallery-container {
    grid-template-columns: 1fr;
}

.gallery-image {
    width: 100%;
}